<div class="grid">
    <div class="col">
        <div class="text-center p-3 border-round-sm font-bold"
            style="border: 1px solid #198754;color: black;min-width: 200px;">
            <!-- <app-weather> </app-weather> -->
        </div>
    </div>

    <div class="col">
        <div class="text-center p-3 border-round-sm font-bold" style="border: 1px solid #198754;color: black;">
            <!-- <app-weather> </app-weather> -->
        </div>
    </div>

    <div class="col">
        <div class="text-center p-3 border-round-sm font-bold" style="border: 1px solid #198754;color: black;">
            <!-- <app-weather> </app-weather> -->
        </div>
    </div>

    <div class="col">
        <div class="text-center p-3 border-round-sm font-bold"
            style="border: 1px solid #198754;color: black;min-width: 200px;">
            <!-- <app-weather> </app-weather> -->
        </div>
    </div>

    <div class="col">
        <div class="text-center p-3 border-round-sm font-bold" style="border: 1px solid #198754;color: black;">
            <!-- <app-weather> </app-weather> -->
        </div>
    </div>

    <div class="col">
        <div class="text-center p-3 border-round-sm font-bold" style="border: 1px solid #198754;color: black;">
            <!-- <app-weather> </app-weather> -->
        </div>
    </div>
</div>